/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;

    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #428BCA 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #428BCA 100%);

    /* Opera */
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #428BCA 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #428BCA));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #428BCA 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #428BCA 100%);
}

.navbar {
    background: #f09060;
    box-shadow: 0 0 0 0, inset 0 0 0 0, 0 3px 0 #d86018;
}


.navbar-brand > a > img {
    height: 40px;
    margin-right: 10px;
    padding: 0;
}

.navbar-brand > a {
    color: white;

}

.navbar p.navbar-text {
    color: white;
    padding-right: 10px;
}

.navbar-brand {
    padding: 5px;
}

/* Custom page CSS
-------------------------------------------------- */
body > .container {
    padding: 60px 15px 0;
}
