extends layouts/default

block content
    .container
        .page-header
            h1= welcomeMessage
            p
                a.btn.btn-primary.btn-lg(href="/activitystreams") Login as User 1
            p
                a.btn.btn-primary.btn-lg(href="/activitystreams") Login as User 2
            p
                a.btn.btn-primary.btn-lg(href="/activitystreams") Login as User 3
            p
                a.btn.btn-primary.btn-lg(href="/activitystreams") Login as User 4
            p
                a.btn.btn-primary.btn-lg(href="/activitystreams") Login as User 5